/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  background-color: teal;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
